<a href="/">Back to index</a>
<h1><%= @member.name %></h1>
<p>
  Website: <%= link_to @member.website_url, @member.website_url %>
</p>
<% if @member.short_url? %>
<p>
  Short URL: <%= link_to @member.short_url, @member.short_url %>
</p>
<% end %>

<h2>Topics</h2>
<ul>
<% @member.topics.each do |topic| %>
  <li><%= topic %></li>
<% end %>
</ul>

<h2>Add Friend</h2>
<%= form_with(url: add_friend_member_url(@member), method: 'post') do |form| %>
  <div id="member-data" data-member-id="<%= @member.id %>">
    <%= form.text_field :friend_name, required: true %>
    <%= form.hidden_field :friend_id, required: true %>
    <%= form.submit 'Add Friend' %>
  </div>
<% end %>

<h2>Friends</h2>
<ul>
<% @member.friends.each do |friend| %>
  <li><%= link_to friend.name, friend %></li>
<% end %>
</ul>

<%= javascript_pack_tag 'friends_search' %>
